*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Navbar Container */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
    z-index: 1001;
}


/* Logo */
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Nav Links */
.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


.nav-links li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: #ff9800;
}

/* Hamburger Icon */
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s;
}

.hamburger:hover{
    color: #ff9800;
}

/* Hero Section Style */

.hero-section{
    background-image: url(assets/pexels-negativespace-34600.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 350px;
    text-align: center;
    padding: 10px;
    
    /* Overlay */
    position: relative;
    z-index: 1;


    &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

}



.hero-title{
    color: #fff;
}



.hero-sub-text{
    color: #f6f4f4;
    font-weight: 500;
}



.hero-section{
    color: #f6f4f4;
}


/* Mobile Device Screen Styling */
@media(max-width: 768px){
    .nav-links{
        position: absolute;
        top: 70px;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in;
        z-index: 1001;
    }

    .nav-links.open{
        height: 200px;
    }


    .hamburger{
        display: flex;
    }
}

