*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Navbar Container */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
}


/* Logo */
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Nav Links */
.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


.nav-links li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: #ff9800;
}

/* Hamburger Icon */
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s;
}

.hamburger:hover{
    color: #ff9800;
}




/* Mobile Device Screen Styling */
@media(max-width: 768px){
    .nav-links{
        position: absolute;
        top: 70px;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in;
    }

    .nav-links.open{
        height: 200px;
    }


    .hamburger{
        display: flex;
    }
}